name: ci

on:
  push:
    branches:
      - master
  pull_request:

env:
  MOZC_SHA: ad0e97b8b8dcfd4c841a02c5d6a043fb5e741405

jobs:
  lint:
    runs-on: ubuntu-latest
    outputs:
      MOZC_SHA: ${{ env.MOZC_SHA }}
      message: ${{ steps.commit-message.outputs.message }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: pip install ruff pyright

      - name: Lint
        run: |
          ruff check scripts
          pyright scripts/*.py

      - name: Pass commit message
        id: commit-message
        run: |
          echo "message=$(git show -s --format=%s)" >> "$GITHUB_OUTPUT"
          echo "message=$(git show -s --format=%s)"

  # macos:
  #   if: "!contains(needs.lint.outputs.message, '!macos')"
  #   needs: lint
  #   uses: ./.github/workflows/macos.yml
  #   with:
  #     mozc_sha: ${{ needs.lint.outputs.MOZC_SHA }}

  # ios:
  #   if: "!contains(needs.lint.outputs.message, '!ios')"
  #   needs: lint
  #   uses: ./.github/workflows/ios.yml
  #   with:
  #     mozc_sha: ${{ needs.lint.outputs.MOZC_SHA }}

  # harmony:
  #   if: "!contains(needs.lint.outputs.message, '!harmony')"
  #   needs: lint
  #   uses: ./.github/workflows/harmony.yml

  # js:
  #   if: "!contains(needs.lint.outputs.message, '!js')"
  #   needs: lint
  #   uses: ./.github/workflows/js.yml
  #   with:
  #     mozc_sha: ${{ needs.lint.outputs.MOZC_SHA }}
