name: ci

on:
  push:
    branches:
      - master
  pull_request:

env:
  MOZC_SHA: d9c3f195582de6b0baa07ecb81a04e8902acf9af

jobs:
  lint:
    runs-on: ubuntu-latest
    outputs:
      MOZC_SHA: ${{ env.MOZC_SHA }}
      message: ${{ steps.commit-message.outputs.message }}

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: pip install ruff pyright

      - name: Lint
        run: |
          ruff check scripts
          pyright scripts/*.py

      - name: Pass commit message
        id: commit-message
        run: |
          if [[ "${{ github.ref }}" == 'refs/heads/master' ]]; then
            message=$(echo "${{ github.event.head_commit.message }}" | head -n 1)
            echo "message=$message" >> "$GITHUB_OUTPUT"
          else
            echo "message=${{ github.event.pull_request.title }}" >> "$GITHUB_OUTPUT"
          fi

  macos:
    if: "!contains(needs.lint.outputs.message, '!macos')"
    needs: lint
    uses: ./.github/workflows/macos.yml
    with:
      mozc_sha: ${{ needs.lint.outputs.MOZC_SHA }}

  windows:
    if: "!contains(needs.lint.outputs.message, '!windows')"
    needs: lint
    uses: ./.github/workflows/windows.yml

  ios:
    if: "!contains(needs.lint.outputs.message, '!ios')"
    needs: lint
    uses: ./.github/workflows/ios.yml
    with:
      mozc_sha: ${{ needs.lint.outputs.MOZC_SHA }}

  harmony:
    if: "!contains(needs.lint.outputs.message, '!harmony')"
    needs: lint
    uses: ./.github/workflows/harmony.yml

  js:
    if: "!contains(needs.lint.outputs.message, '!js')"
    needs: lint
    uses: ./.github/workflows/js.yml
    with:
      mozc_sha: ${{ needs.lint.outputs.MOZC_SHA }}
