name: HarmonyOS build

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-24.04
    env:
      SDK_VERSION_MAJOR: 5.1.0
      SDK_VERSION_MINOR: 840
    strategy:
      fail-fast: false
      matrix:
        arch: [arm64-v8a, x86_64]

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          sudo apt install -y ninja-build gettext
          pip install -r requirements.txt

      - name: Install OpenHarmony SDK
        uses: fcitx-contrib/ohpm-cli-tools@master
        with:
          major: ${{ env.SDK_VERSION_MAJOR }}
          minor: ${{ env.SDK_VERSION_MINOR }}

      - name: Version info
        run: |
          cmake --version

      - name: Build
        run: python scripts/build.py harmony ${{ matrix.arch }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: artifact-harmony-${{ matrix.arch }}
          path: |
            build/harmony-${{ matrix.arch }}/*.tar.bz2

      - name: Check absolute path
        run: ./scripts/check-absolute-path.sh

      - name: Setup tmate session
        if: ${{ failure() }}
        uses: mxschmitt/action-tmate@v3

  compare:
    needs: build
    if: ${{ github.ref != 'refs/heads/master' }}
    uses: ./.github/workflows/compare.yml
    with:
      platform: harmony

  release:
    needs: build
    if: ${{ github.ref == 'refs/heads/master' }}
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v5
        with:
          pattern: artifact-harmony*
          merge-multiple: true

      - name: Release
        uses: 'marvinpinto/action-automatic-releases@latest'
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: harmony
          prerelease: true
          title: "Harmony Build"
          files: |
            *.tar.bz2
