name: iOS build

on:
  workflow_call:
    inputs:
      mozc_sha:
        description: "Commit SHA of google/mozc"
        required: true
        type: string

jobs:
  build:
    runs-on: macos-15
    strategy:
      fail-fast: false
      matrix:
        include:
          - { platform: OS64, postfix: '' }
          - { platform: SIMULATORARM64, postfix: -arm64 }
          - { platform: SIMULATOR64, postfix: -x86_64 }

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: actions/checkout@v4
        with:
          submodules: recursive
          repository: google/mozc
          path: libmozc/mozc
          ref: ${{ inputs.mozc_sha }}

      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Version info
        run: |
          clang --version
          cmake --version

      - name: Install dependencies
        env:
          HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK: 1
        run: |
          brew install ninja
          pip install -r requirements.txt

      - name: Build
        run: python scripts/build.py ios ${{ matrix.platform }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: artifact-ios${{ matrix.postfix }}
          path: |
            build/ios${{ matrix.postfix }}/*.tar.bz2

      - name: Check absolute path
        run: ./scripts/check-absolute-path.sh

      - name: Setup tmate session
        if: ${{ failure() }}
        uses: mxschmitt/action-tmate@v3

  compare:
    needs: build
    if: ${{ github.ref != 'refs/heads/master' }}
    uses: ./.github/workflows/compare.yml
    with:
      platform: ios

  release:
    needs: build
    if: ${{ github.ref == 'refs/heads/master' }}
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          pattern: artifact-ios*
          merge-multiple: true

      - name: Release
        uses: 'marvinpinto/action-automatic-releases@latest'
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: ios
          prerelease: true
          title: "iOS Build"
          files: |
            *.tar.bz2
