name: JS build

on:
  workflow_call:
    inputs:
      mozc_sha:
        description: "Commit SHA of google/mozc"
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-24.04
    env:
      EMSCRIPTEN_VERSION: '4.0.20'
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - uses: actions/checkout@v6
        with:
          submodules: recursive
          repository: google/mozc
          path: libmozc/mozc
          ref: ${{ inputs.mozc_sha }}

      - uses: actions/checkout@v6
        with:
          repository: emscripten-core/emsdk
          path: emsdk

      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: |
          sudo apt install -y \
            gettext autopoint valac
          pip install -r requirements.txt
          rustup target add wasm32-unknown-emscripten

      - name: Install emsdk
        working-directory: emsdk
        run: |
          ./emsdk install ${{ env.EMSCRIPTEN_VERSION }}
          ./emsdk activate ${{ env.EMSCRIPTEN_VERSION }}

      - name: Version info
        run: |
          bison --version
          cmake --version
          valac --version

      - name: Build
        run: |
          . emsdk/emsdk_env.sh
          python scripts/build.py js

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: artifact-js
          path: |
            build/js/*.tar.bz2

      - name: Check absolute path
        run: ./scripts/check-absolute-path.sh

      - name: Release
        if: ${{ github.ref == 'refs/heads/master' }}
        uses: 'marvinpinto/action-automatic-releases@latest'
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: js
          prerelease: true
          title: "JS Build"
          files: |
            build/js/*.tar.bz2

      - name: Setup tmate session
        if: ${{ failure() }}
        uses: mxschmitt/action-tmate@v3

  compare:
    needs: build
    if: ${{ github.ref != 'refs/heads/master' }}
    uses: ./.github/workflows/compare.yml
    with:
      platform: js
