name: macOS build

on:
  workflow_call:
    inputs:
      mozc_sha:
        description: "Commit SHA of google/mozc"
        required: true
        type: string

jobs:
  build:
    runs-on: macos-26
    strategy:
      fail-fast: false
      matrix:
        arch: [arm64, x86_64]

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - uses: actions/checkout@v5
        with:
          submodules: recursive
          repository: google/mozc
          path: libmozc/mozc
          ref: ${{ inputs.mozc_sha }}

      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Install dependencies
        env:
          HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK: 1
        run: |
          brew install \
            extra-cmake-modules \
            autoconf automake libtool autoconf-archive \
            bison vala || true # ignore brew link python error
          pip install -r requirements.txt
          echo /opt/homebrew/opt/bison/bin >> $GITHUB_PATH

      - name: Version info
        run: |
          bison --version
          clang --version
          cmake --version
          valac --version

      - name: Build
        run: python scripts/build.py macos ${{ matrix.arch }}

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: artifact-macos-${{ matrix.arch }}
          path: |
            build/macos-${{ matrix.arch }}/*.tar.bz2

      - name: Check absolute path
        run: ./scripts/check-absolute-path.sh

      - name: Setup tmate session
        if: ${{ failure() }}
        uses: mxschmitt/action-tmate@v3

  compare:
    needs: build
    if: ${{ github.ref != 'refs/heads/master' }}
    uses: ./.github/workflows/compare.yml
    with:
      platform: macos

  release:
    needs: build
    if: ${{ github.ref == 'refs/heads/master' }}
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          pattern: artifact-macos*
          merge-multiple: true

      - name: Release
        uses: 'marvinpinto/action-automatic-releases@latest'
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: macos
          prerelease: true
          title: "macOS Build"
          files: |
            *.tar.bz2
