name: Windows build

on:
  workflow_call:

jobs:
  build:
    runs-on: windows-2025
    strategy:
      fail-fast: false
      matrix:
        platform: [x86_64]

    steps:
      - uses: actions/checkout@v6

      - name: Checkout submodules
        run: |
          git submodule update --init --depth=0 json libuv

      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Version info
        run: |
          clang --version
          cmake --version

      - name: Build
        env:
          CC: clang
          CXX: clang++
        run: python scripts/build.py windows ${{ matrix.platform }}

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: artifact-windows-${{ matrix.platform }}
          path: |
            build/windows-${{ matrix.platform }}/*.tar.bz2

      - name: Check absolute path
        shell: bash
        run: ./scripts/check-absolute-path.sh

      - name: Setup tmate session
        if: ${{ failure() }}
        uses: mxschmitt/action-tmate@v3

  compare:
    needs: build
    if: ${{ github.ref != 'refs/heads/master' }}
    uses: ./.github/workflows/compare.yml
    with:
      platform: windows

  release:
    needs: build
    if: ${{ github.ref == 'refs/heads/master' }}
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v7
        with:
          pattern: artifact-windows*
          merge-multiple: true

      - name: Release
        uses: 'marvinpinto/action-automatic-releases@latest'
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: windows
          prerelease: true
          title: "Windows Build"
          files: |
            *.tar.bz2
